require 'ipaddr'

class VBoxError < Vagrant::Errors::VagrantError
  error_message("VirtualBox version too old. Please upgrade to at least 5.1")
end

begin
  vbox_version = Vagrant::Util::Subprocess.execute("vboxmanage", "--version").stdout

  if Gem::Version.new(vbox_version) < Gem::Version.new('5.1')
    raise VBoxError
  end
rescue VBoxError => e
  raise e
rescue
  print "Could not determine Virtual Box version. You might be running an outdated version.\n"
end

Vagrant.configure(2) do |config|
  if ENV['NET_CIDR']
    NET_CIDR = ENV['NET_CIDR']
  else
    NET_CIDR = '10.10.0.0/24'
  end

  if ENV['PORTAL_CIDR']
    PORTAL_CIDR = ENV['PORTAL_CIDR']
  else
    PORTAL_CIDR = '10.0.0.0/24'
  end

  NETMASK = IPAddr.new('255.255.255.255').mask(NET_CIDR.split('/')[1]).to_s
  IP = IPAddr.new(NET_CIDR.split('/')[0]).mask(NETMASK).succ.succ.to_s

    # Create a private network, which allows host-only access to the machine
  # using a specific IP.
  # This is the docker network
  config.vm.network "private_network", ip: IP, netmask: NETMASK, auto_config: false

  DASHBOARD_IP = IPAddr.new(PORTAL_CIDR.split('/')[0]).succ.succ.succ.to_s

  route_msg = "sudo ip route add " + PORTAL_CIDR + " via " + IP
  config.vm.post_up_message = "Vagrant Kubernetes Box based on Debian.\nCheck http://dashboard.kube-system.local for the dashboard.\nDon't forget to add the appropiate route: " + route_msg

  config.vm.provision "ansible_local" do |ansible|
      ansible.playbook = "/etc/provision/playbook.yml"
      ansible.become = true
      ansible.compatibility_mode = "2.0"
      ansible.raw_arguments = '--extra-vars "NET_CIDR=' + NET_CIDR + ' PORTAL_CIDR=' + PORTAL_CIDR + '"'
    end

   config.vm.provider :virtualbox do |vb|
    # Set the vboxnet interface to promiscous mode so that the docker veth
    # interfaces are reachable
    vb.customize ["modifyvm", :id, "--nicpromisc2", "allow-all"]
    # Otherwise we get really slow DNS lookup on OSX (Changed DNS inside the machine)
    # vb.customize ["modifyvm", :id, "--natdnsproxy1", "on"]

    # Doesn't really work needs to be set in original Vagrantfile
    # config.ssh.forward_agent = true
  end
end
