vboxVersion = `vboxmanage --version`

if Gem::Version.new(vboxVersion) < Gem::Version.new('5.1')
  throw "VirtualBox version too old. Please upgrade to 5.1"
end

Vagrant.configure(2) do |config|
    # Create a private network, which allows host-only access to the machine
  # using a specific IP.
  # This is the docker network
  config.vm.network "private_network", ip: "10.10.0.2", auto_config: false

   config.vm.provider :virtualbox do |vb|
    # Set the vboxnet interface to promiscous mode so that the docker veth
    # interfaces are reachable
    vb.customize ["modifyvm", :id, "--nicpromisc2", "allow-all"]
    # Otherwise we get really slow DNS lookup on OSX (Changed DNS inside the machine)
    # vb.customize ["modifyvm", :id, "--natdnsproxy1", "on"]

    # Use the paravirt network adapter, because the default one hangs on linux hosts, also OSX
    # Vagrant::Util::Platform.platform == "linux-gnu"
    # Vagrant::Util::Platform.platform.start_with?("darwin")

    if Vagrant::Util::Platform.platform == "linux-gnu"
        vb.customize ["modifyvm", :id, "--nictype1", "virtio"]
        vb.customize ["modifyvm", :id, "--nictype2", "virtio"]
    else
        # problems should be fixed with virtual box 5.0.20
    end

    # Doesn't really work needs to be set in original Vagrantfile
    # config.ssh.forward_agent = true

    # Somehow machine looses the mac address set up by vagrant after us changing the nic type
    # so set it again manually
    #vb.customize ["modifyvm", :id, "--macaddress1", "080027165E4C"]
  end
end
