[Unit]
Description=Kubernetes etcd cluster

[Service]
ExecStart=/usr/bin/etcd \
--data-dir=/var/etcd/data
Restart=always
RestartSec=10
Type=notify

[Install]
WantedBy=multi-user.target
