[Unit]
Description=Kubernetes API-Server
Documentation=https://github.com/kubernetes/kubernetes
Wants=kube-etcd.service
After=kube-etcd.service

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/bin/hyperkube apiserver \
--service-cluster-ip-range=${PORTAL_CIRD} \
--cert-dir=/var/lib/kubernetes \
--insecure-bind-address=0.0.0.0 \
--etcd-servers=http://127.0.0.1:2379 \
--admission-control=AlwaysAdmit,ServiceAccount \
--storage-backend=etcd3 \

[Install]
WantedBy=multi-user.target
