[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes
Wants=kube-apiserver.service

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/bin/hyperkube controller-manager \
--master=127.0.0.1:8080 \
--service-account-private-key-file=/var/lib/kubernetes/apiserver.key \
--root-ca-file=/var/lib/kubernetes/apiserver.crt \

[Install]
WantedBy=multi-user.target
