[Unit]
Description=Kubernetes API-Server
Documentation=https://github.com/kubernetes/kubernetes
Wants=kube-etcd.service
After=kube-etcd.service

[Service]
ExecStart=/usr/bin/hyperkube apiserver \
--service-cluster-ip-range=${PORTAL_CIRD} \
--insecure-bind-address=0.0.0.0 \
--etcd-servers=http://127.0.0.1:4001 \
--cluster-name=kubernetes \
--v=2
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target